:root {
  --default-screen-breakpoint: 1440px;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-size: 1.75em;
  font-weight: 700;
}

h2 {
  font-size: 1.5em;
  font-weight: 700;
}

h3 {
  font-size: 1.25em;
  font-weight: 700;
}

h4 {
  font-size: 1em;
  font-weight: 500;
}

h5 {
  font-size: 0.75em;
  font-weight: 500;
}

h6 {
  font-size: 0.75em;
  font-weight: 300;
}

strong {
  font-weight: 700;
}
