* {
    /* margin: 0;
    padding: 0; */
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.titulo {
    font-size: 24px;
}

.fundo-claro {
    background-color: #c4c4c4;
}

#reinoAnimal {
    background-color: rgb(255, 75, 75);
    background-color: #ff4b4b;
}

span {
    border: 1px solid #161616;
    padding: 4px !important;
}

.menu {
    list-style-type: none;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    text-align: justify;
    text-decoration: none;
}