.presentation {
    background-color: #f1f1f1;
    min-height: 80vh;
    padding: 1rem;
}

.presentation__titulo, .presentation__subtitulo {
    text-align: center;
}
.presentation__titulo {
    font-size: 2rem;
    line-height: 1.5;
}

.presentation__video {
    display: block;
    margin: 0 auto;
}

.footer {
    text-align: center;
    background-color: var(--cinza);
    color: #fafafa;
    padding: 8px 1rem;
}

.footer a, .footer a:visited {
    color: #e5e5e5;
    transition: ease 0.4s color;
}

.footer a:hover {
    color: var(--amarelo)
}